<footer class="bg-light text-center text-lg-start" style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;">
    <div style="text-align: left;">
        <!-- Contenido a la izquierda -->
        <p class="mb-0">&copy; 2024 YouPet IA. Todos los derechos reservados.</p>
    </div>
    <div style="text-align: right;">
        <!-- Botón "Cerrar Sesión" con mejor separación -->
        <a href="{{ url_for('logout') }}" class="btn btn-secondary" style="margin-left: 20px;">Cerrar Sesión</a>
    </div>
</footer>
