{% include("cabecera.html") %}

<!--  Lista de usuarios -->
<dir>
    <h1 class="text-center">Lista de Usuarios</h1>
</dir>
<br>
{% if usuarios %}
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">password</th>
        </tr>
    </thead>
    <tbody>
        <!--bucle para llamar a campos correo y contraseña-->
        {% for mostrar in usuarios %}
        <tr>
            <th scope="row"> {{mostrar.id}} </th>
            <td> {{mostrar.correo}} </td>
            <td> {{mostrar.password}} </td>
        </tr>
        <!-- se cierra el for-->
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay datos</p>
{% endif %}
<!-------------->